{% extends "base.html" %}

{% load static i18n %}

{% block css %}

{% endblock %}

{% block seo %}


<title>{% trans 'Hakkımızda' %}</title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<link rel="canonical" href=""/>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<meta name="robots" content="index,follow"/>

<meta name="googlebot" content="index,follow"/>

<meta name="author" content="İhsan Gürol Demirtaş">

<meta name="publisher" content="2020.01" />

{% endblock %}




{% block content %}
<br>
<br>
{% for x in info %}
 <section class="blog-hero-section set-bg" data-setbg="{% if x.image %}{{ x.image.url }}{% else %}{% endif %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
        </div>
    </section>
<section class="blog-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 m-auto p-0">
                    <div class="blog-details-content">
                        <div class="bc-top">
                            <p>{{x.info | safe}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endfor %}
{% endblock %}


{% block jss %}
{% endblock %}